* {
  padding: 0;
  margin: 0;
}

:root {
  --beaver: #9e7f66;
  --cod-gray: #111;
  --mirage: #17192b;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;
}

/* Fonts */
@font-face {
  font-family: 'LeagueSpartan-Light';
  src: url('../fonts/LeagueSpartan-Light.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url('../fonts/LeagueSpartan-Regular.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LeagueSpartan-Semibold';
  src: url('../fonts/LeagueSpartan-Semibold.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.ttf');
  format: 'true-type';
}

/* Base Styles */
h1 {
  font-family: 'LeagueSpartan-Light';
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -1px;
  color: #fff;
}

h2 {
  font-family: 'LeagueSpartan-Light';
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
}

h3 {
  font-family: 'LeagueSpartan-Bold';
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

h4 {
  font-family: 'LeagueSpartan-SemiBold';
  font-size: 1.0625rem;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
}

p {
  font-family: 'LeagueSpartan-Regular';
  font-size: 1.25rem;
  line-height: 1.875rem;
}

/* p {
  font-family: 'LeagueSpartan-Regular';
  font-size: 1rem;
  line-height: 1.5625rem;
} */

/* Header */
.header {
  height: 50rem;
  background: url('../images/homepage/hero-bg-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.logo {
  padding: 3rem 8rem;
}

.header-text {
  width: 40%;
  margin: 6rem 0 3rem 10rem;
}

.header-text p {
  color: #fff;
  width: 60%;
  margin-bottom: 2rem;
}

.header-btn {
  padding: 1rem 4rem;
  background-color: var(--cool-gray);
  border: 1px solid #fff;
}

.header-btn a {
  font-family: 'LeagueSpartan-Semibold';
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: upperCase;
}

/* About Section */
.about {
  height: 50rem;
  margin-bottom: 25rem;
}

/* Family */
.family {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.family .img-left {
  background: url('../images/homepage/enjoyable-place-desktop.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
  height: 38rem;
  width: 32%;
  margin: -4rem 0 2rem 5rem;
}

.family .img-left .background-pattern {
  margin: 14rem 5rem 0 -16rem;
}

.family .text-right {
  width: 28%;
  margin: 8rem;
}

.family .text-right h2 {
  width: 90%;
  margin-bottom: 1rem;
}

/* Food */
.food {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.food .text-left {
  width: 28%;
  margin: 8rem;
  margin-left: 5rem;
}

.food .text-left h2 {
  width: 90%;
  margin-bottom: 1rem;
}

.food .img-right {
  background: url('../images/homepage/locally-sourced-desktop.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
  height: 38rem;
  width: 32%;
  margin: 4rem 8rem 0 3rem;
  z-index: 1000;
}

.food .img-right .background-pattern {
  margin: 14rem 5rem 0 -10rem;
}

/* Highlights Section */
.plus-icon {
  margin: -3rem 0 0 0;
  margin-right: -6rem;
  opacity: 50%;
}

.highlights {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0;
  margin-top: -1.5rem;
  background-color: var(--mirage);
  color: #fff;
  padding: 11rem 5rem 6rem 8rem;
  margin-bottom: 0;
}

.heading-left {
  width: 36%;
  margin-left: 7rem;
  /* border-top: solid 1px #fff;
  padding-top: 5rem; */
}

.heading-left p {
  width: 100%;
}

.heading-left h2 {
  margin-bottom: 1rem;
}

.txt-1-left,
.txt-2-left,
.txt-3-left {
  width: 60%;
}

.recipes-right {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  align-items: center;
}

.recipe-1,
.recipe-2,
.recipe-3 {
  display: flex;
  margin-bottom: 2rem;
  /* justify-content: space-between; */
}

.img-1-left,
.img-2-left,
.img-3-left {
  margin-right: 3rem;
}

/* Slideshow Section */
.family-gathering {
  height: 45rem;
  padding: 10rem;
}

.family-container {
  display: flex;
  height: 50rem;
  width: 100%;
  margin-bottom: 5rem;
}

.family-img-left-1,
.family-img-left-2,
.family-img-left-3 {
  height: 40rem;
  width: 95%;
  margin: 4rem 0 5rem 0;
}

.family-img-left-1 {
  background: url('../images/homepage/family-gathering-desktop.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
}

.family-img-left-2 {
  background: url('../images/homepage/special-events-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.family-img-left-3 {
  background: url('../images/homepage/social-events-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.family-img-left .background-pattern {
  margin: 14rem 5rem 0 -16rem;
}

.family-txt-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 8rem;
}

.family-txt-right h2 {
  width: 100%;
  margin-bottom: 1rem;
}

.family-txt-right p {
  width: 100%;
}

button {
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: var(--mirage);
  border: 1px solid #fff;
  width: 50%;
}

button a {
  font-family: 'LeagueSpartan-Semibold';
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: upperCase;
}

/* Slideshow Controls */

.slide-controls {
  margin-top: 3rem;
}

.slide-controls li {
  list-style-type: none;
  font-family: 'LeagueSpartan-Light';
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.25rem;
}

.slideshow-controls {
  margin: 2rem 0;
}

.back {
  margin: 5rem 0 0 0;
}

.forward {
  margin: 0 0.5rem;
}
