* {
  padding: 0;
  margin: 0;
}

:root {
  --beaver: #9e7f66;
  --cod-gray: #111;
  --mirage: #17192b;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;
}

/* Fonts */
@font-face {
  font-family: 'LeagueSpartan-Light';
  src: url('../fonts/LeagueSpartan-Light.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url('../fonts/LeagueSpartan-Regular.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LeagueSpartan-Semibold';
  src: url('../fonts/LeagueSpartan-Semibold.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.ttf');
  format: 'true-type';
}

/* Base Styles */
h1 {
  font-family: 'LeagueSpartan-Light';
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -1px;
  color: #fff;
}

h2 {
  font-family: 'LeagueSpartan-Light';
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.5px;
}

h3 {
  font-family: 'LeagueSpartan-Bold';
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

h4 {
  font-family: 'LeagueSpartan-SemiBold';
  font-size: 1.0625rem;
  line-height: 1.75rem;
  letter-spacing: 2.5px;
}

p {
  font-family: 'LeagueSpartan-Regular';
  font-size: 1.25rem;
  line-height: 1.875rem;
}

/* Header */
.header {
  height: 50rem;
  background: url('../images/homepage/hero-bg-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.header-logo {
  padding: 3rem 8rem;
  margin-left: 2rem;
}

.header-text {
  width: 40%;
  margin: 6rem 0 3rem 10rem;
}

.header-text p {
  color: #fff;
  width: 60%;
  margin-bottom: 2rem;
}

.header-btn {
  padding: 1.25rem 4rem;
  background-color: var(--cool-gray);
  border: 1px solid #fff;
  width: 40%;
}

.header-btn a {
  font-family: 'LeagueSpartan-Semibold';
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: upperCase;
}

/* About Section */
.about {
  height: 50rem;
  margin-bottom: 25rem;
}

/* Family */
.family {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.family .img-left {
  background: url('../images/homepage/enjoyable-place-desktop.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
  height: 38rem;
  width: 32%;
  margin: -4rem 0 2rem 5rem;
}

.family .img-left .background-pattern {
  margin: 14rem 5rem 0 -16rem;
}

.family .text-right {
  width: 28%;
  margin: 8rem;
}

.family .text-right h2 {
  width: 90%;
  margin-bottom: 1rem;
}

/* Food */
.food {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.food .text-left {
  width: 28%;
  margin: 8rem;
  margin-left: 5rem;
}

.food .text-left h2 {
  width: 90%;
  margin-bottom: 1rem;
}

.food .img-right {
  background: url('../images/homepage/locally-sourced-desktop.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
  height: 38rem;
  width: 32%;
  margin: 4rem 8rem 0 3rem;
  z-index: 1000;
}

.food .img-right .background-pattern {
  margin: 14rem 5rem 0 -10rem;
}

/* Highlights Section */
.plus-icon {
  margin: -3rem 0 0 0;
  margin-right: -6rem;
  opacity: 50%;
}

.highlights {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0;
  margin-top: -1.5rem;
  background-color: var(--mirage);
  color: #fff;
  padding: 11rem 5rem 6rem 8rem;
  margin-bottom: 0;
}

.heading-left {
  width: 30%;
  margin-left: 1rem;
}

.heading-left p {
  width: 100%;
}

.heading-left h2 {
  margin-bottom: 1rem;
}

.txt-1-left,
.txt-2-left,
.txt-3-left {
  width: 60%;
}

.recipes-right {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  align-items: center;
}

.recipe-1,
.recipe-2,
.recipe-3 {
  display: flex;
  margin-bottom: 2rem;
  /* justify-content: space-between; */
}

.img-1-left {
  background: url('../images/homepage/salmon-desktop-tablet.jpg') no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
  height: 6rem;
  width: 22%;
}

.img-2-left {
  background: url('../images/homepage/beef-desktop-tablet.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
  height: 6rem;
  width: 22%;
}

.img-3-left {
  background: url('../images/homepage/chocolate-desktop-tablet.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
  height: 6rem;
  width: 22%;
}

.img-1-left,
.img-2-left,
.img-3-left {
  margin-right: 0;
}

/* Slideshow Section */
.family-gathering {
  height: 45rem;
  padding: 10rem;
}

.family-container {
  display: flex;
  height: 50rem;
  width: 100%;
  margin-bottom: 5rem;
}

.family-img-left-1,
.family-img-left-2,
.family-img-left-3 {
  height: 40rem;
  width: 95%;
  margin: 4rem 0 5rem 0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
}

.family-img-left-1 {
  background: url('../images/homepage/family-gathering-desktop.jpg') no-repeat 0
    0;
  background-position: top;
  background-size: cover;
}

.family-img-left-2 {
  background: url('../images/homepage/special-events-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.family-img-left-3 {
  background: url('../images/homepage/social-events-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.family-img-left .background-pattern {
  margin: 14rem 5rem 0 -16rem;
}

.family-txt-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 8rem;
}

.family-txt-right h2 {
  width: 100%;
  margin-bottom: 1rem;
}

.family-txt-right p {
  width: 100%;
}

button {
  padding: 1rem 0;
  margin: 1rem 0;
  background-color: var(--mirage);
  border: 1px solid #fff;
  width: 100%;
}

button a {
  font-family: 'LeagueSpartan-Semibold';
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-transform: upperCase;
  width: 100%;
}

/* Slideshow Controls */
.slide-controls {
  margin-top: 3rem;
}

.slide-controls li {
  list-style-type: none;
  font-family: 'LeagueSpartan-Light';
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.25rem;
  color: var(--shuttle-gray);
}

.slide-controls li .active {
  color: blue;
}

.slideshow-controls {
  margin: 2rem 0;
}

.back {
  margin: 5rem 0 0 0;
}

.forward {
  margin: 0 0.5rem;
}

/* Reservation Section */
.reservation {
  display: flex;
  justify-content: space-around;
  height: 15rem;
  background: url('../images/homepage/ready-bg-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
  align-items: center;
}

.reservation-txt h2 {
  color: #fff;
}

.reservation-btn .button {
  padding: 1rem 4rem;
  background-color: var(--cool-gray);
  border: 1px solid #fff;
  width: 100%;
}

.reservation-btn a {
  font-family: 'LeagueSpartan-Semibold';
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #fff;
  text-decoration: none;
  text-transform: upperCase;
  width: 80%;
}

/* Footer */
.footer {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 5rem 0;
  background-color: var(--cod-gray);
  color: #fff;
}

.contact,
.hours {
  margin: 0 4rem;
}

.contact h4,
.hours h4 {
  text-transform: upperCase;
  letter-spacing: 0.15rem;
}

.contact p,
.hours p {
  text-transform: upperCase;
  letter-spacing: 0.15rem;
}

.footer-logo {
  padding: 3rem 8rem;
  margin-left: 2rem;
}

/* Booking Page */
/* Booking Header */
.booking-logo {
  padding: 3rem 8rem;
  margin-left: 2rem;
}

.booking-header {
  height: 32rem;
  background: url('../images/booking/hero-bg-desktop.jpg') no-repeat 0 0;
  background-position: top;
  background-size: cover;
}

.booking-header-text {
  width: 40%;
  margin: 4rem 0 3rem 10rem;
}

.booking-header-text p {
  color: #fff;
  width: 60%;
  margin-bottom: 2rem;
}

.form-background img {
  height: 5rem;
  margin: -30rem 0 0 35rem;
}

.form {
  height: 30rem;
  width: 25%;
  padding: 2rem;
  margin: -18rem 0 5rem 40rem;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.form-control input {
  border: none;
  border-bottom: solid 1px var(--mirage);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

/* ************************* */
/* Mobile: */
@media only screen and (max-width: 600px) {
  /* Base Styles, Mobile */
  h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
    letter-spacing: -1px;
    color: #fff;
    text-align: center;
  }

  h2 {
    font-family: 'LeagueSpartan-Light';
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.5px;
  }

  h3 {
    font-family: 'LeagueSpartan-Bold';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
  }

  h4 {
    font-family: 'LeagueSpartan-SemiBold';
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 2.5px;
  }

  p {
    font-family: 'LeagueSpartan-Regular';
    font-size: 1rem;
    line-height: 1.875rem;
    text-align: center;
  }

  /* Header */
  .header {
    height: 40rem;
    background: url('../images/homepage/hero-bg-mobile.jpg') no-repeat 0 0;
    background-position: top;
    background-size: cover;
  }

  .logo {
    padding: 17rem 8rem 0 8rem;
    width: 50%;
  }

  .header-text {
    width: 80%;
    margin: 6rem 0 3rem 2rem;
    margin: 2rem auto;
  }

  .header-text p {
    color: #fff;
    width: 95%;
    margin-bottom: 2rem;
    margin: 1rem auto;
  }

  .header-btn {
    padding: 1rem 4rem;
    background-color: var(--cool-gray);
    border: 1px solid #fff;
    width: 80%;
    margin: 1rem 2rem;
  }

  .header-btn a {
    font-family: 'LeagueSpartan-Semibold';
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: upperCase;
  }

  /* About Section */
  .about {
    height: 45rem;
    margin-bottom: 25rem;
  }

  /* Family */
  .family {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .family .img-left {
    background: url('../images/homepage/enjoyable-place-mobile.jpg') no-repeat 0
      0;
    background-position: top;
    background-size: cover;
    height: 38rem;
    width: 80%;
    margin: -6rem auto;
    margin-bottom: 0;
  }

  .family .img-left .background-pattern {
    margin: 0;
    display: none;
  }

  .family .text-right {
    width: 85%;
    margin: 5rem auto;
    margin-bottom: 11rem;
  }

  .family .text-right h2 {
    width: 90%;
    margin-bottom: 1rem;
    text-align: center;
  }

  /* Food */
  .food {
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
  }

  .food .text-left {
    width: 85%;
    margin: 5rem auto;
    margin-bottom: 0;
  }

  .food .text-left h2 {
    width: 90%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .food .img-right {
    background: url('../images/homepage/locally-sourced-mobile.jpg') no-repeat 0
      0;
    background-position: center;
    background-size: cover;
    height: 38rem;
    width: 80%;
    margin: -6rem 0 0 2.25rem;
  }

  .food .img-right .background-pattern {
    margin: 0;
    display: none;
  }

  /* Highlights Section */
  .plus-icon {
    display: none;
  }

  .highlights {
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem auto;
    margin-top: 71rem;
    background-color: var(--mirage);
    color: #fff;
    padding: 5rem 2rem;
  }

  .heading-left {
    width: 80%;
    margin-left: 0;
  }

  .heading-left p {
    width: 100%;
    text-align: center;
    margin: 1rem 2.5rem 2rem 3rem;
  }

  .heading-left h2 {
    text-align: center;
    width: 90%;
    margin: 0 3rem;
  }

  .heading-left h4 {
    font-size: 1rem;
  }

  .txt-1-left,
  .txt-2-left,
  .txt-3-left {
    margin: 0;
    width: 80%;
  }

  .recipes-right {
    margin-left: 0;
    align-items: center;
  }

  .recipe-1,
  .recipe-2,
  .recipe-3 {
    flex-direction: column;
    margin-bottom: 0;
    /* justify-content: space-between; */
  }

  .recipe-1 p,
  .recipe-2 p,
  .recipe-3 p {
    margin-left: 3rem;
  }

  .recipe-1 h4,
  .recipe-2 h4,
  .recipe-3 h4 {
    width: 100%;
    margin-left: 2.5rem;
    text-align: center;
  }

  .img-1-left {
    background: url('../images/homepage/salmon-mobile.jpg') no-repeat 0 0;
    background-position: bottom;
    background-size: cover;
    height: 18rem;
    width: 100%;
  }

  .img-2-left {
    background: url('../images/homepage/beef-mobile.jpg') no-repeat 0 0;
    background-position: top;
    background-size: cover;
    height: 18rem;
    width: 100%;
  }

  .img-3-left {
    background: url('../images/homepage/chocolate-mobile.jpg') no-repeat 0 0;
    background-position: top;
    background-size: cover;
    height: 18rem;
    width: 100%;
  }

  .img-1-left,
  .img-2-left,
  .img-3-left {
    margin: 1rem 0 2rem 0;
  }

  /* Slideshow Section */
  .family-gathering {
    height: 60rem;
    padding: 0;
    margin-top: 7rem;
  }

  .family-container {
    flex-direction: column;
    height: 90rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  .family-img-left-1,
  .family-img-left-2,
  .family-img-left-3 {
    height: 120rem;
    width: 95%;
    margin: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }

  .family-img-left-1 {
    background: url('../images/homepage/family-gathering-mobile.jpg') no-repeat
      0 0;
    background-position: top;
    background-size: cover;
    height: 30rem;
    width: 90%;
    margin: 0 auto;
  }

  .family-img-left-2 {
    background: url('../images/homepage/special-events-mobile.jpg') no-repeat 0
      0;
    background-position: top;
    background-size: cover;
    height: 30rem;
    width: 90%;
    margin: 0 auto;
  }

  .family-img-left-3 {
    background: url('../images/homepage/social-events-mobile.jpg') no-repeat 0 0;
    background-position: top;
    background-size: cover;
    height: 30rem;
    width: 90%;
    margin: 0 auto;
  }

  .family-img-left .background-pattern {
    margin: 14rem 5rem 0 -16rem;
  }

  .family-txt-right {
    flex-direction: column;
    width: 70%;
    margin: 2rem;
  }

  .family-txt-right h2 {
    width: 90%;
    margin: 1rem 2rem;
    text-align: center;
  }

  .family-txt-right p {
    width: 100%;
    margin: 0.5rem 2rem;
  }

  button {
    padding: 1.5rem 3rem;
    margin: 1rem 2rem;
    background-color: var(--mirage);
    border: 1px solid #fff;
    width: 100%;
  }

  button a {
    font-family: 'LeagueSpartan-Semibold';
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: upperCase;
  }

  /* Slideshow Controls */
  .slide-controls {
    width: 90%;
    margin: 1rem 2rem;
    display: none;
  }

  .slide-controls li {
    list-style-type: none;
    font-family: 'LeagueSpartan-Light';
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.25rem;
    color: var(--shuttle-gray);
    text-align: center;
  }

  .slide-controls li .active {
    color: blue;
  }

  .slideshow-controls {
    margin: 0.5rem 7rem;
    margin-bottom: 0;
    width: 90%;
  }

  .back {
    margin: 5rem 0 0 0;
  }

  .forward {
    margin: 0 1rem;
  }

  /* Reservation Section */
  .reservation {
    flex-direction: column;
    justify-content: flex-start;
    height: 18rem;
    background: url('../images/homepage/ready-bg-mobile.jpg') no-repeat 0 0;
    background-position: top;
    background-size: cover;
    align-items: center;
    padding-top: 6rem;
  }

  .reservation-txt h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
  }

  .reservation-btn .button {
    padding: 1rem 4rem;
    background-color: var(--cool-gray);
    border: 1px solid #fff;
    width: 100%;
    margin: 0 auto;
  }

  /* Footer */
  .footer-logo {
    padding-top: 5rem;
    width: 30%;
    margin: 0 auto;
  }

  .footer {
    flex-direction: column;
    padding: 0;
    padding-bottom: 5rem;
    background-color: var(--cod-gray);
    color: #fff;
  }

  .contact,
  .hours {
    margin: 0;
    margin: 1rem 0;
  }

  .contact h4,
  .hours h4 {
    text-align: center;
    line-height: 2.5rem;
    width: 100%;
  }

  .contact p,
  .hours p {
    text-transform: upperCase;
    letter-spacing: 0.15rem;
  }
}
